@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

#LogoNavigator{
    display: flex;
    width: 100%;
    overflow: visible;
    justify-content: space-between;
    position: fixed;
    z-index: 3000;
    pointer-events: none;
    backdrop-filter: saturate(2.5) blur(6px);
    transition: all 0.25s;
    background-color: hsl(22.5, 12.1%, 87.1%);
}

#LogoNavigator.lowpage{
    backdrop-filter: none;
    background-color: #0b0b0e85;
}

#bar{
    display: flex;
    width: 100vw;
    padding-inline: 3em;
    padding-right: 1em;
    height: 4em;
    align-items: center;
    justify-content: end;
    font-size: 9pt;
    pointer-events: all;
}

#bar #nav_links{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid #333333e6;
    padding-right: 26px;
    pointer-events: all;
    gap: 15px;
}

title{
    display: block;
    font-size: 10pt;
    padding-inline: 30px;
    color: #202020;
    font-family: 'Gothic A1', sans-serif;
}

.wh-24{
    width: 24px
}
#bar span{

    color: #1e361f;
    padding-inline: 15px;

}


#img-galery .item.actived span{
    width: 300px;
}

/* Animação de entrada */


#LogoNavigator #img{
    position: absolute;
    left: 33px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    transition: all 0.25s;
    z-index: 400000;
    pointer-events: all;
    clip-path: polygon(0px 0px, 50px 0px, 50px 50px, 0px 50px);
    cursor: pointer;
}

#LogoNavigator #img.activated {
    top: 0px;
    left: 0px;
    background-color: #e2ddda;
    opacity: 1;
    border-radius: 0px;
    display: flex;
    align-items: center;
    transition: all 0.25s;
    justify-content: center;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);
}

#LogoNavigator #img.activated img {
    width: 300px;
    height: auto;
}
#LogoNavigator #img.activated ul{
    margin-left: 30%;
}

#LogoNavigator #img img{
    transition: all 0.25s ;
    width: 50px;
    height: 44px;
}

